body{
    margin: 0;
    background-color: #e3cc16;
    font-family: Lato;
    color: #fff;
}
.black-text{
    color: #000000;
}

/* Font Sizes */
.xs{
    font-size: 0.8rem;
    margin: 0;
}
.sm{
    font-size: 1.2rem;
    margin: 0;
}

/* Homepage */

.nav-logo{
    margin-left: 1.5rem;
}
.hero{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}   
.hero-text{
    width: 50vw;
}
.headline{
    font-size: 3.5rem;
    margin: 1.2rem 0;
}
.support{
    margin-bottom: 1rem;
}
.login-signup-container{
    width: 30vw;
    height: 22rem;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 20px;
    border: 1.5px solid #9b9b9b;
}
.black-divider{
    border: 1px solid #000000;
    width: 20vw;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-input, .login-btn{
    margin: 0.5rem 0;
}
.landing-input{
    display: flex;
    flex-direction: column;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    padding-left: 1rem;
    background-color: #eaeaea;
    color: #000000;
    height: 3rem;
    width: 19rem;
}
.login-btn, .signup-btn{
    padding: 0.6rem 1.3rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    height: 2.8rem;
}
.login-btn{
    background-color: #000000;
    color: #e3cc16;
    width: 18rem;
}
.forgot-password-link{
    font-size: 0.9rem;
    margin: 0.2rem 0;
    color: #000000;
}
.signup-btn{
    background-color: #e3cc16;
    color: #000000;
    width: 14rem;
    margin: 1rem 0;
}

/* Inbox */

.inbox{
    display: flex;
    align-items: center;
    height: 100vh;
}
.message{
    background-color: #1b1a1a;
    border-radius: 20px;
    height: 93vh;
}
.msg-list, .navbar{
    margin: 1rem;
    padding: 1.5rem 0 0 0;
}
.msg-list{
    width: 30vw;
}
.msg-list-content{
    margin: 0 1.5rem;
}
.msg-contents{
    margin: 1rem;
    width: 65vw;
    display: flex;
    flex-direction: column;
    height: 96.5vh;
}
.inbox-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-chat-button{
    background-color: #474747;
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.inbox-search{
    width: 18.5rem;
    padding: 0.6rem 0.9rem;
    background-color: #3a3a3a;
    color: #eaeaea;
    border: none;
    border-radius: 20px;
    margin-top: 0.8rem;
}
.navbar{
    width: 4vw;
    margin-right: 0.1rem;
    border-radius: 20px;
}
.heading{
    font-size: 1.5rem;
    margin: 0;
}
.conversation-list{
    margin-top: 1.2rem;
}
.conversation{
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.message-input, .message-header{
    height: 3em;
}
.message-header{
    display: flex;
    background-color: #212121;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.5rem 1.5rem;
}
.recepient-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message-roll{
    flex-grow: 10;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 0.5rem;
}
.chat{
    width: 95%;
    min-height: 2rem;
    height: auto;
}
.received{
    display: flex;
    justify-content: flex-start;
}
.sent{
    display: flex;
    justify-content: flex-end;
}
.bubble-received, .bubble-sent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 1.2rem;
    height: auto;
    max-width: 70%;
    border-radius: 20px;
    padding: 0.5rem 0.9rem;
}
.bubble-received{
    background-color: #2e2e2e;
}
.bubble-sent{
    background-color: #e3cc16;
    color: #000000;
}
.chat-text{
    font-size: 1em;
    margin: 0;
}
.message-input{
    background-color: #2e2e2e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
}
.paperclip{
    margin: 0 1rem;
}

/* Signup */

.registration{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.registration-container{
    width: 35vw;
    height: 85vh;
    padding: 2rem;
    border-radius: 10px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-black-divider{
    border: 1px solid #000000;
    width: 35vw;
    margin-bottom: 2rem;
}
.registration-form{
    display: flex;
    flex-direction: column;
}
.name-input-container, .birthdate{
    display: flex;
    justify-content: space-between;
}
.input{
    height: 2rem;
    margin: 0.5rem 0;
    padding-left: 0.5rem;
}
.name{
    width: 16vw;
}
.label{
    margin: 0.5rem 0 0;
}
.dropdown{
    padding: 0.7rem 4.5rem 0.7rem 0.7rem;
    margin: 0.5rem 0;
}
.register{
    margin: 1rem auto;
}