*{
    margin: 0;
    background-color: #e3cb17;
}
.nav-logo{
    margin-left: 1.5rem;
}
.hero{
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
}
.intro{
    color: #fff;
    font-family: Lato;
    font-size: 3.5rem;
    margin-left: 2rem;
}