*{
    margin: 0;
    background-color: #e3cc16;
    font-family: Lato;
    color: #fff;
}
.nav-logo{
    margin-left: 1.5rem;
}
.hero{
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;
}   
.headline{
    font-size: 3.5rem;
    margin: 1.2rem 0;
}
.support{
    margin-bottom: 1rem;
}
.landing-input, .login-btn{
    margin: 0.5rem 0;
}
.landing-input{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    padding-left: 1rem;
    background-color: #eaeaea;
    color: #000000;
    height: 2rem;
    width: 13rem;
}
.login-btn, .signin-btn{
    padding: 0.8rem 1.3rem;
    border: 0.2rem solid #000000;
    border-radius: 20px;
    font-weight: 600;
    width: 6rem;
}
.login-btn{
    padding: 0.8rem 1.3rem;
    background-color: #000000;
    color: #e3cc16;
}
.signin-btn{
    color: #000000;
}